#Ignore build files
Makefile
config.h
config.log
config.status
libtool
stamp-h1
output/
*.vcxproj.user
*.opensdf
*.sdf
*.suo
*.su
*.m4
missing
depcomp
install-sh
configure
compile
config.guess
*~
*.orig
autom4te.cache/
ltmain.sh
config.sub
ar-lib
libwebsockets.pc
build/
